@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

@using HotelBooking.Models;
@model IEnumerable<Promotion>

<script>
    function DisplayImage(result) {
        if (result.files && result.files[0]) {
            var fileReader = new FileReader();
            fileReader.onload = function (e) {
                $("#imageLink").attr('src', e.target.result);
            }
            fileReader.readAsDataURL(result.files[0]);
        }
    }
</script>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản Lý Khuyến Mãi</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_content">
                <div id="gender" class="btn-group" data-toggle="buttons"></div>
                <div class="col-md-6 col-sm-6 ">
                    <div>
                        <button type="button" class="btn btn-success" data-toggle="modal"
                            data-target="#divAddRoom" data-backdrop="static"
                            data-keyboard="false">
                            Thêm</button>
                    </div>

                    <form method="post" action="CreateProms">
                    <div id="divAddRoom" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Promotion Management</h4>
                                    <button type="button" class="close"
                                        data-dismiss="modal">
                                        &times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="form-group col-md-6">
                                            <label>Id</label>
                                           <input class="form-control" name="Id_Prom" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Title</label>
                                            <input class="form-control" name="Title" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Image</label>
                                            <input type="file" class="form-control" name="Roomimage" title="ImageLink"
                                             onchange="DisplayImage(this)" />
                                                <img id="imageLink" height="200" width="200" style="border: solid">
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label>Detail </label>
                                            <input class="form-control" name="Detail" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Active</label><br />
                                            <input type="radio" name="Active" value="True" />Yes<br />
                                            <input type="radio" name="Active" value="False" />No
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    &nbsp;
                                                <button type="button" data-dismiss="modal"
                                                    class="btn btn-danger">
                                                    Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        </form>
                </div>

                <form method ="post" action="SearchProms">
                <div class="col-md-3 col-sm-3 ">
                    <input type="text" class="form-control" placeholder="Nhập title khuyến mãi">
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <label class="btn btn-primary" data-toggle-class="btn-primary"
                        data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="male" class="join-btn"/>
                        &nbsp; Tìm kiếm &nbsp;
                    </label>
                </div>
                    </form>

                <br>
                <br>
                <table style="width: 100%">
                    <thead>
                        <th>action
                        </th>
                        <th>Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>Image
                        </th>
                        <th>Detail
                        </th>
                        <th>Active
                        </th>
                    </thead>

                    <body>
                        @foreach(Promotion item in Model)
                        {
                        <tr>
                            <td>
                                  <a id="btnDelete" class="glyphicon glyphicon-trash" href="/Admin/managePromotions/Delete/@item.Id_Prom"></a>&nbsp; &nbsp;
                                    <a id="btnModify" class="glyphicon glyphicon-pencil" href="/Admin/managePromotions/Edit/@item.Id_Prom"></a>
                            </td>
                            <td>@item.Id_Prom</td>
                            <td>@item.Title</td>
                            <td> <img src="/Content/User/files/images/gallery/@item.ImageLink" alt="avatarTitle" height="50" width="50"/> </td>
                            <td>@item.Detail</td>
                            <td>@item.Active</td>

                        </tr>
                        }
                    </body>
                </table>
            </div>
        </div>
    </div>
</div>
