@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

@using HotelBooking.Models;
@model IEnumerable<Contact>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý liên hệ của khách hàng</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_content">
                <div class="item form-group">
                    @*<label class="col-form-label col-md-3 col-sm-3 label-align">Id_Contact: </label>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Id_Customer: </label>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Content: </label>
                            </div> *@
                    <table style="width: 100%">
                        <thead>
                            <th>Action</th>
                            <th>Id_Contact</th>
                            <th>Content</th>
                            <th>NameCus</th>
                            <th>PhoneNumber</th>
                        </thead>

                        <body>
                            @foreach (Contact item in Model)
                            {
                                <tr>
                                    <td>
                                        <a id="btnDelete" class="glyphicon glyphicon-trash" href="/Admin/ManageContact/Delete/@item.Id_Contact"></a>&nbsp; &nbsp;
                                    </td>
                                    <td>@item.Id_Contact</td>
                                    <td>@item.Content</td>
                                    <td>@item.User.Name</td>
                                    <td>@item.User.Phone</td>
                                </tr>
                            }
                        </body>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

