@{
    ViewBag.Title = "Login";
}
@model HotelBooking.Models.LoginModel
<html>
<head>
    <title>Login</title>
    <script src="/Content/User/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/Content/User/Content/css/styleLogin.css" rel="stylesheet" type="text/css" />

    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--header start here-->
    <div class="header">
        <div class="header-main">
            <h1>Login Now</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    @using (Html.BeginForm("LoginUser", "home", FormMethod.Post))
                    {
                        @Html.ValidationSummary(false, "", "error")
                        <div class="header-left-bottom agileinfo">
                            <input type="text" placeholder="username" tabindex="2" required name="us" />
                            <input type="password" placeholder="password" name="mk" tabindex="2" required />
                           @* @Html.TextBoxFor(model => model.UserName, new { @name = "name" })
                            @Html.PasswordFor(model => model.Password, new { @name = "password" })*@

                            <div class="remember">
                                <span class="checkbox1">

                                    <label>
                                        @*<input type="submit" class="btnLogin" value="Login" tabindex="4">*@
                                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "checkfbox", @name = "", @checked = "" })  Remember me
                                    </label>
                                </span>
                                <div class="forgot">
                                    <h6><a href="DangKy">Đăng Ký </a></h6>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <input type="submit" value="Login">

                            <div class="header-left-top">
                                <div class="sign-up">
                                    @*<h2>or</h2>*@
                                </div>

                            </div>
                            @*<div class="header-social wthree">
            <a href="#" class="face"><h5>Facebook</h5></a>
            <a href="#" class="twitt"><h5>Twitter</h5></a>
        </div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--header end here-->
    <div class="copyright">
        <p>
            ©Copyright &copy; 2020 by MTA TEAM
        </p>
    </div>
    <!--footer end here-->
</body>
</html>

