@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}
@using HotelBooking.Models;
@model Room

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Sửa</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="x_panel">
            <div class="x_content">
                <form method="post">
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group col-md-6">
                                <label>Id_Room</label>
                                <input class="form-control" name="Id_Room" value="@Model.Id_Room" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Name</label>
                                <input class="form-control" name="Name" value="@Model.Name"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Price</label>
                                <input class="form-control" name="Price" value="@Model.Price"/>
                            </div>
                            <div class="form-group col-md-6">
                                 <label>Status</label><br />
                                 <input name="Status" type="radio" value= "True" />Có khách<br />
                                 <input name="Status" type="radio" value= "False" />Trống
                            </div>
                            <div class="form-group col-md-6">
                                <label>Room Type</label>
                                <select class="form-control" name="Id_Type">
                                    <option value="MLP01">Phòng Deluxe</option>
                                    <option value="MLP02">Phòng Superior</option>
                                    <option value="MLP03">Phòng Suite</option>
                                    <option value="MLP04">Phòng Luxury</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

