
body {color:#444; background:url(../images/bg-body.png)}
#bodychild { border-top:6px solid #c1bcb4}

/*============================================== GENERAL SECTION ==============================================*/
a, .morelink, .colortext, a.colortext{color:#281570;}
a:hover, a.colortext:hover, .colortext a:hover, .morelink:hover{color:#888}
#logo h1 a, #logo h1 a:visited{color:#454545; }
.desc{ color:#999}

/* Heading & text */
h1, h2, h3, h4, h5, h6{color:#281570;}
.pagetitle{color:#fff;}
.pagetitle a{ color:#fff;}
.pagetitle a:hover{color:#281570;}

/*============================================== HEADER AND MENU SECTION ==============================================*/
.sf-menu > li span{ color:#a4a4a4;}
.sf-menu a, .sf-menu a:visited{color:#33373d; }/* 1st level */
.sf-menu a:hover, .sf-menu li.current{color:#33373d;}/* 1st level */

.sf-menu > li{ border-top:6px solid #c1bcb4}/* 1st level */

.sf-menu > li:hover, .sf-menu > li.current{ border-top:6px solid #281570}/* 1st level */


.sf-menu ul li a:hover, .sf-menu li li.current > a{color:#281570; background:#e0dad1}/* 2nd level */
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	background:#d6d0c6;
	color:#454545;

}

.sf-menu li li, .sf-menu li li a{color:#454545;}
.sf-menu li li:first-child{ border-top:0px;}
.sf-menu li li:last-child{ border-bottom:0px;}
.sf-menu li li{ border-bottom:1px solid #c9c3b8; border-top:1px solid #e3dfd8}

.tinynav{background:#fff; border:1px solid #eee;}

/*============================================== AFTER HEADER SECTION ==============================================*/
#outerafterheader{ border:solid #fff; border-width: 11px 0px; background:#281570;}

/*============================================== SLIDER SECTION ==============================================*/
#outerslider .container{ background:#eae9e7; border:1px solid #dfdcdc;}
#slidercontainer{ background:#c1bcb4;}
#slider{ border:1px solid #dcdbd9}

#slider .slider-title{ color:#281570}
#slider .slider-desc{ color:#454545}

.nivo-controlNav a {background: #848484;}
.nivo-controlNav a:hover{background: #454545; }
.nivo-controlNav a.active {	background: #454545;}

#roomslider .flex-direction-nav a{background:url(../images/flex-prev.png) no-repeat 0px 0px;}
#roomslider .flex-direction-nav a.flex-next{background-image:url(../images/flex-next.png) }

/*============================================== CONTENT SECTION ==============================================*/
#maincontainer .container{background:#eae9e7; border: solid #dfdcdc; border-width:1px 1px 0px 1px; border-bottom:6px solid rgba(216, 214, 211, 0.3);}
#maincontainer1 .container{background:#eae9e7; max-width: 95%; border: solid #dfdcdc; border-width:1px 1px 0px 1px; border-bottom:6px solid rgba(216, 214, 211, 0.3);}
#singlepage { background:#fff;}

/* Images */
.frame{ border:1px solid #fff; background:#dbd9d5}
.thumbcontainer .frame{ border:0px;}
.gallery-icon{ background:#fff;}


/* Form */
input[type="text"], input[type="email"],
textarea, input[type="password"], select{
	background:#f1f0ee;
	border:0px;
	color:#888;
}
label{ color:#a4a4a4;}
span.required{ color:#f00;}

/* Horizontal Line */
hr {
	color:#e4e3e3;
	background-color:#e4e3e3;
}

.separator{ 
	border-bottom: 1px solid #f1f0ee;
}

/* List */
ul.checklist li{ background:url(../images/checklist.html) no-repeat 0 5px;}
ul.listarrow li{ color:#281570}
ul.client{border:solid 1px #eaeaea;}

ul.listborder li{ border-bottom:1px solid #eae9e7}

/* Button */
.button,
button,
.more,
.more-link,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #281570; /* for non-css3 browsers */
	color:#fff!important;	
}

.button:hover,
button:hover,
.more:hover,
.more-link:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	background: #281570; /* for non-css3 browsers */
	color:#fff!important;
}

/* Blockquote */
blockquote{color:#a4a4a4; background:none; }

/* Dropcaps */	
.dropcap1{text-shadow:1px 1px 0 #ededed; color:#2e2e2e}
.dropcap2{color:#fff; background:#2e2e2e}		
.dropcap3{color:#fff; background:#2e2e2e}

/* Code */
code {
	border-left:4px solid #e9e9e9;
}

/* Tag */
.tagcloud a, .tag-items a{ background:#454545!important; color:#fff!important;}
.tagcloud a:hover, .tag-items a:hover{ background:#281570!important; color:#fff!important;}

/* Tables */
th{border-bottom: 1px solid #f1f1f1;}
table {border: 1px solid #f1f1f1;border-bottom:0;}
tr td {border: 1px solid #E0E0E0;padding: 5px;}
tr.odd td {background: #F2F7FC;}

/*============================================== BLOG SECTION ==============================================*/
.posttitle a, .posttitle a:visited{color:#454545;}
.posttitle a:hover{color:#281570}
.single .entry-content{ border-bottom:1px solid #f1f0ee}
.price{ color:#281570;}
.postimg, #entry-author-info{ background:#fff;}
#comment{background:#fff;}
.fn, .fn a, .fn a:visited{color:#454545;}
.fn a:hover{color:#281570}
.entry-comment{ background:#303030;}
.entry-comment a, entry-comment a:visited{color:#fff}
.comment-body .time, .comment-body .time a, .comment-body .time a:visited{color:#aaaaaa;}
.comment-body .time a:hover{color:#222222;}
.entry-utility{ color:#a4a4a4; border-bottom:1px solid #f1f0ee}
.entry-utility .user, .entry-utility .tag, .entry-utility .like{border-color:#f1f0ee;}
.fn{color:#222;}
.tdate, .reply a, .reply a:visited{color:#aaa; }
.articlecontainer{ background:#fff}

/* Post Format */
.entry-quote blockquote{background-color:#f9f9f9; color:#454545;}

.aside{ border-left:4px solid #281570}

.avatar{
	border:0;
    background: #ffffff;	
}

.wp-pagenavi{ font-weight:bold}
.wp-pagenavi .pages{color:#281570; border:0px;}
.wp-pagenavi a, .wp-pagenavi span{color:#281570; border:0px!important; font-weight:bold}
.wp-pagenavi .current, .wp-pagenavi a:hover{ border:0px; color:#454545;}

/*============================================== PORTFOLIO SECTION ==============================================*/
.ts-pf-img, .ts-pf-text{ background:#fff}
.ts-pf-text .pftitle{ border-bottom:1px solid #f1f0ee}
.ts-pf-text .pftitle a, .ts-pf-text .pftitle a:visited{color:#281570;}
.ts-pf-text .pftitle a:hover{color:#281570;}
.ts-portfolio .ts-pf-text, .ts-portfolio .ts-pf-img{ background:#fff}

.ts-pf-img .rollover {
    background-color: #000000;
    background-image: url("images/hover-zoom.html");
}

/*============================================== SIDEBAR SECTION ==============================================*/

#sidebar .widget-title {color:#454545;}

#sidebar .widget-container{ border:10px solid #fff; background:#f8f7f5}
#sidebar li a, #sidebar li li a{color:#281570;}
#sidebar li a:hover, #sidebar li li a:hover, #sidebar li li a.current{color:#888;}
#sidebar .morelink{color:#2e2e2e;}
#sidebar .morelink:hover{color:#6a6a6a}

/* Recent post widget */
.rp-widget .smalldate{ color:#888;}
.rp-widget a, .rp-widget a.visited{ color:#454545!important; }
.rp-widget a:hover, .rp-widget a:hover{color:#281570!important;}

/* Testimonial post widget */
.ts-testimonial-widget .testi-item{ background: url(../images/bg-testi.jpg) repeat-y left top; border:1px solid #e2dfd5;}

/* Featured Post Widgets */
.ts-features .item-container{ background:#f8f7f5; border:10px solid #fff;}
#sidebar .ts-features .item-container{ background:none; border:0px;}
.widget_calendar #wp-calendar tbody td:first-child, .widget_calendar #wp-calendar tfoot td:first-child{border-left:0px;}
.widget_calendar thead th{ background-color:#e3e3e3; border:0px;}
#footersidebar .widget_calendar thead th:first-child{ border:0px;}
#footersidebar .widget_calendar thead th{border:0px;}

/* Search */
#searchform .searcharea{border:1px solid #e3e3e3; background:#fff;}
input.searchbutton {
    background: url(../images/search-icon.png) no-repeat 8px 13px !important;
}
#footersidebar #searchform .searcharea{border:1px solid #474747; background-color:#393939;}
#footersidebar #searchform .searchbutton{background:#393939 url(../images/search-icon.png) no-repeat 8px 5px; }
.price-room {
    display: block;
    width: auto;
    float: right;
    font-weight: normal;
    color: red;
}

/*============================================== FOOTER SIDEBAR SECTION ==============================================*/
#outerfootersidebar{ background:url(../images/bg-footer.png); }
#footersidebarcontainer{ background:#ccc; color:#1b1b1b}
#footersidebar .widget-title{color:#281570;}
#footersidebar li a, #footersidebar li a:visited{color:#281570}
#footersidebar li a:hover{color:#60605f}
#footersidebar li li:before {color:#281570}
.copyrighttext a{color:#60605f;}
.copyrighttext a:hover{ color:#281570}