/* #Theme Frame 
================================================== */

.container{ margin: 0px auto; max-width: 1200px; padding: 0 15px;}

.row { max-width: 100%; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .column, .row .columns{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.wrapper, .columns.wrapper{ padding: 0px; }

/* Base Grid */	

.row .one 		{ width: 8.333%; }
.row .two 		{ width: 16.667%; }
.row .three 	{ width: 25%; }
.row .four 		{ width: 33.333%; }
.row .five 		{ width: 41.667%; }
.row .six 		{ width: 50%; }
.row .seven 	{ width: 58.333%; }
.row .eight 	{ width: 66.667%; }
.row .nine 		{ width: 75%; }
.row .ten 		{ width: 83.333%; }
.row .eleven 	{ width: 91.667%; }
.row .twelve 	{ width: 100%; }

/* Column Layouts */

.row .one_half				{ width: 50%; }
.row .one_third				{ width: 33.333%;}
.row .one_fourth			{ width: 25%; }
.row .one_fifth				{ width: 20%;}
.row .one_sixth 			{ width: 16.667%;}

.row .two_third				{ width: 66.667%;}
.row .two_fourth 			{ width: 50%;}
.row .two_fifth 			{ width: 40%;}
.row .two_sixth 			{ width: 33.333%;}


.row .three_fourth			{ width: 75%;}
.row .three_fifth 			{ width: 60%;}
.row .three_sixth 			{ width: 50%;}

.row .four_fifth 			{ width: 80%;}
.row .four_sixth 			{ width: 66.667%;}

.row .content 	{ width: 100%; }

img{ max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
object, embed { max-width: 100%; }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear, .clr {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
	
	
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 959px) {
	#navigation {
	    float: right;
	}
    #navigation #cssmenu > ul > li > a {
        font-weight: bold;
        padding: 45px 20px;
    }
    .list-language {
        position: absolute;
        right: 0px;
        top: 75px;
    }
    #logo {
        float: left;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#logo{text-align:center; float:none; display:block; margin-bottom:20px;}
	#logoimg img{margin:0px auto;}
	#navigation{text-align:center; float:none; clear:both; margin:0px 0 20px 0!important;}
	#topnav{ float:none}
	
	
	ul.listborder li {width: 40%;}
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.list-language {
	    position: absolute;
	    top: 10px;right: 10px;
	}
	body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none;
		width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		
	.container{ margin: 0px auto; max-width: 420px; }
	
	.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }

	.row .column, .row .columns { width: 100%; float: none;}

	.column:last-child, .columns:last-child { float: none; }
	[class*="column"] + [class*="column"]:last-child { float: none; }

	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }
	
	#maincontainer, #outerslider, #afterheader, #outerbottom, #outerfootersidebar .container{ max-width: 480px; margin-left:auto; margin-right:auto }
	#outerheader{height:auto;}
	/*============================================== HEADER SECTION ==============================================*/
	#logo{text-align:center; float:none; display:block; margin-bottom:20px;}
	#logoimg img{margin:0px auto;}

	#navigation{text-align:center; float:none; clear:both; margin:0px 0 20px 0!important;}
	.sf-menu a{background:transparent !important; border:0 !important}
	.sf-menu > li{border:0 !important; display:none;}
	nav{margin:0px; float:none; }
	.js .tinynav { display: block; display: inline-block; text-align:left ; margin:0 0 0 0; width:50%}/* mobile dropdown */
    .js #topnav { display: none }
	
	/*============================================== SLIDER SECTION ==============================================*/
	#slider .nivo-caption{ bottom:-140px; margin:0px; padding:0px;}
	#slider .slider-title{ font-size:24px;}

	
	/*============================================== CONTENT SECTION ==============================================*/
	#maincontent.hassidebar{background:none;}
	#content.positionright, #content.positionleft{background:transparent; border:0px;}
	#sidebar.positionright{ border-left:0px;}
	#sidebar.positionleft{ border-right:0px;}
	.mediacontainer iframe, .mediacontainer object, .mediacontainer video{width:100%; height: auto;}
	
	.tabcontainer{margin-bottom:20px;}
	ul.tabs{height:auto;}
	ul.tabs li{font-size:12px; display:block; float:none; overflow:visible; height:auto}
	ul.tabs li a{text-transform:capitalize;}
	h2.trigger{font-size:12px;}

	
	.ts-portfolio .ts-pf-img img{ width:auto!important}
	
	ul.listborder li {width: 100%;}
	
	#contactform textarea{ width:95%;}
	
	/*============================================== BLOG SECTION ==============================================*/

	.wp-pagenavi{margin-bottom:30px;}
	.entry-utility{ float:none; width:100%; text-align:left; margin-bottom:10px; margin-top:0px;}
	.entry-utility div{ display:inline-block;}
	
	
	/*============================================== SIDEBAR SECTION ==============================================*/
	#sidebar { border:0px;}
	#sidebar.positionright div.widget-area{padding-left:0px;}
	#sidebar.positionleft div.widget-area{padding-right:0px;}
	
	.commentlist ol{padding-left:40px;}
	
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#slidercontainer{margin: 19px 0 100px 0;}
	#slider .nivo-caption{ bottom:-55px;}
	#slider .nivo-controlNav{bottom: -90px;}
	#slider .slider-title{ line-height:normal;}
	#slider .slider-desc{ display:none;}
	
	.pagetitle{ text-align:center;}
	
	.commentlist ol{padding-left:20px;}
	.comment-body{margin:0;}
}